{% comment %}
  This template shows the player and clan leaderboards for one statistic side by
  side.
  Expects the larger context to provide a dictionary "board" containing an "id"
  and a list of player and clan dictionaries.
{% endcomment %}

{% comment %}
  Leaderboard id is "leaderboard-" + the value of the option in the
  leaderboard-select. This is used by the javascript that switches them.
{% endcomment %}
<div class="leaderboard-container" id="leaderboard-{{ board.id }}">
  <h2>{{title}}</h2>
  <div class="row leaderboard">
    <table>
      <thead>
        <tr class="framed">
          <th colspan=2>Player</th>
          <th>Clan</th>
          <th>{{ board.columntitle }}</th>
        </tr>
      </thead>
      <tbody>
        {% for player in board.players %}
          {% comment %}
            player is not a Player object - it is a dict containing 'name',
            'clan', 'stat', and optionally 'dumplog'
          {% endcomment %}
          <tr>
            <td class="num dim">{{ forloop.counter }}</td>
            <td>
              {% if myname == player.name %}
                <b>{% include "plink.html" with name=player.name %}</b>
              {% else %}
                {% include "plink.html" with name=player.name %}
              {% endif %}
            </td>
            <td>
              {% if "clan" in player %}
                {% include "clink.html" with name=player.clan %}
              {% endif %}
            </td>
            <td class="rjust">
              {% if "dumplog" in player %}
                <a href="{{ player.dumplog }}" target="_blank">
                  {{ player.stat }}
                </a>
              {% else %}
                {{ player.stat }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% comment %}
       Maybe at some point unify these two very similar tables.
       Not a priority currently; it would avoid some repetitiveness, but that
       would be the only real gain, and it might wind up less maintainable after
       such a change than it is now (due to how the bits of these boards that
       AREN'T the same would have to be awkwardly hacked in).
    {% endcomment %}
    <table>
      <thead>
        <tr class="framed">
          <th colspan=2>Clan</th>
          <th>{{ board.columntitle }}</th>
        </tr>
      </thead>
      <tbody>
        {% for clan in board.clans %}
          <tr>
            <td class="num dim">{{ forloop.counter }}</td>
            <td>{% include "clink.html" with name=clan.name %}</td>
            <td class="rjust">
              {% if "dumplog" in clan %}
                <a href="{{ clan.dumplog }}" target="_blank">
                  {{ clan.stat }}
                </a>
              {% else %}
                {{ clan.stat }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> {# .leaderboard #}
</div> {# .leaderboard-container #}
