<!doctype html>

<html>

<head>
  <title>TNNT :: Achievements</title>
  {% include "headlinks.html" %}
  {% load static %}
  <script src="{% static 'js/table-sort.js' %}"></script>
</head>

<body>

{% include "header.html" %}

<h2>Achievements by Number of Achievers</h2>
<table id="achievements-table" class="sortable default-sort-first">
  <thead>
    <tr class="framed">
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Players</th>
      <th>Clans</th>
    </tr>
  </thead>
  <tbody>
    {% for ach in achievements %}
      <tr id="{{ ach.define }}">
        <td class="ach-id">#{{ ach.ingameid }}</td>
        <td class="ach-name">{{ ach.name }}</td>
        <td class="ach-desc">{{ ach.description }}</td>
        <td class="ach-nplay">{{ ach.nplayers }}</td>
        <td class="ach-nclan">{{ ach.nclans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</body>

</html>
