<!doctype html>

<html>

<head>
  <title>TNNT::Archives</title>
  {% include "headlinks.html" %}
</head>

<body>

{% include "header.html" with page='archive' %}

<article>
  <h4>Past Tournament Archives</h4>
  <p>
    Below you can find static snapshots of the tournament site following the
    end of previous tournaments, with all of the data from the games in that
    year's tournament.
  </p>
  <ul>
    <li><a href="/archives/2018/">2018 Tournament</a></li>
    <li><a href="/archives/2019/">2019 Tournament</a></li>
    <li><a href="/archives/2020/">2020 Tournament</a></li>
    <li><a href="/archives/2021/">2021 Tournament</a></li>
    <li><a href="/archives/2022/">2022 Tournament</a></li>
    <li><a href="/archives/2023/">2023 Tournament</a></li>
    <li><a href="/archives/2024/">2024 Tournament</a></li>
  </ul>
</article>

</body>

</html>
