{% load static %}
<!doctype html>

<html>

<head>
  <title>TNNT :: Clan Management</title>
  {% include "headlinks.html" %}
  <script type="text/javascript" src="{% static 'js/clan-confirm.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/countdown-timer.js' %}"></script>
  {% if trophy_grid %}
  <script type="text/javascript" src="{% static 'js/trophy-grid.js' %}"></script>
  {% endif %}
</head>

<body>

{% include "header.html" with page="clanmgmt" %}

<h2>Clan Management</h2>

<article>
{% if not user.is_authenticated %}
  <p> You are not logged in. </p>
  <p><a href="/login">Log in here.</a> </p>
{% else %}
  {% if clan is None %}
    <p>Logged in as {{ user.username }}.
      <form method="post" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    </p>

    <hr>
    {% if errmsg is not None %}
      <p class="errmsg">Error: {{errmsg}}</p>
    {% endif %}

    {% if clan_freeze %}
      <p>
        <h5>Clan freeze is currently in effect.</h5>
        Clan sign up begins 24 hours prior to tournament start on October 31st at 00:00 UTC,
        and ends on November 10th at 00:00 UTC.
      </p>
    {% elif clan_freeze_time %}
      <div class="freeze-countdown-container">
        <p><strong>Clan freeze countdown:</strong></p>
        <p class="freeze-countdown" data-freeze-time="{{ clan_freeze_time.isoformat }}">
          Calculating...
        </p>
      </div>
    {% endif %}

    <p>You are not in a clan right now.</p>
    {% if not clan_freeze %}
      <form method="post">
          {% csrf_token %}
          {{ create_clan_form }}
          <button name="create_clan" type="submit">Create</button>
      </form>
    {% endif %}

    <hr>
    {% if invites.all %}
      <p>The following clans have invited you: </p>
      <ul>
        {% for othclan in invites %}
          <li>
            <form method="post" class="disguised-button">
              {% csrf_token %}
              <input name="join_clan_id" type="hidden" value="{{othclan.id}}" />
              {{othclan.name}}
              <button name="join_clan" type="submit" value="{{othclan.name}}">
                accept invite
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You do not have any invites.</p>
    {% endif %}
  {% else %}
    <div class="clan-layout">
      <div class="clan-info">
        <p>Logged in as {{ user.username }}.
          <form method="post" action="{% url 'logout' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit">Log Out</button>
          </form>
        </p>

        <hr>
        {% if errmsg is not None %}
          <p class="errmsg">Error: {{errmsg}}</p>
        {% endif %}

        {% if clan_freeze %}
          <p>
            <h5>Clan freeze is currently in effect.</h5>
            Clan sign up begins 24 hours prior to tournament start on October 31st at 00:00 UTC,
            and ends on November 10th at 00:00 UTC.
          </p>
        {% elif clan_freeze_time %}
          <div class="freeze-countdown-container">
            <p><strong>Clan freeze countdown:</strong></p>
            <p class="freeze-countdown" data-freeze-time="{{ clan_freeze_time.isoformat }}">
              Calculating...
            </p>
          </div>
        {% endif %}

        <h3>{{clan.name}}</h3>

        <form method="post" class="inline-form">
          {% csrf_token %}
            <button name="leave" type="submit" {% if members.count == 1 %}disabled{% endif %}>
              Leave clan
            </button>
          {% if me.clan_admin %}
            <button name="disband" type="submit">Disband clan</button>
            <noscript>(WARNING: Disbanding cannot be undone!)</noscript>
          {% endif %}
        </form>
        <p>Clan message: {{ clan.message }}</p>
        {% if me.clan_admin %}
        <form method="post">
          {% csrf_token %}
          {{ set_message_form }}
          <button name="set_message" type="submit">Update message</button>
        </form>
        {% endif %}
        <p>Clan members:</p>
        <ul class="clanlist">
          {% for member in members %}
            <li {% if member.id == me.id %}class="current-player"{% endif %}>
              {{member.name}} {% if member.clan_admin %}(admin){% endif %}
              {% if member.id != me.id and me.clan_admin %}
                <form method="post" class="disguised-button">
                  {% csrf_token %}
                  <input name="kick_or_admin_id" type="hidden" value="{{member.id}}" />
                  {% if not member.clan_admin %}
                    <button name="adminify" type="submit">Make Admin</button>
                  {% endif %}
                  <button name="kick" type="submit">Kick</button>
                </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if me.clan_admin and not clan_freeze %}
          <form method="post">
              {% csrf_token %}
              {{ invite_member_form }}
              <button name="invite" type="submit">Invite</button>
          </form>
        {% endif %}

        {% if invitees.all %}
          <hr>
          <p>Your clan has invited:</p>
          <ul>
            {% for othplayer in invitees %}
              <li>
                {{othplayer.name}}
                {% if me.clan_admin %}
                  <form method="post" class="disguised-button">
                    {% csrf_token %}
                    <input name="rescind_id" type="hidden" value="{{othplayer.id}}" />
                    <button name="rescind" type="submit">Rescind Invite</button>
                  </form>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>There are no outstanding invites.</p>
        {% endif %}

        <hr>
        {% if invites.all %}
          <p>The following clans have invited you: </p>
          <ul>
            {% for othclan in invites %}
              <li>
                <form method="post" class="disguised-button">
                  {% csrf_token %}
                  <input name="join_clan_id" type="hidden" value="{{othclan.id}}" />
                  {{othclan.name}}
                  <button name="join_clan" type="submit" value="{{othclan.name}}">
                    accept invite
                  </button>
                </form>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>You do not have any invites.</p>
        {% endif %}
      </div>

    </div>
  {% endif %}

  <p class="footnote">
    Please note that any changes in clan membership may not be reflected in
    the clan's stats on the website for several minutes.
  </p>
  {% comment %}
    post 2021 TODO:
      - players should be able to request being in a clan
  {% endcomment %}
{% endif %}
</article>

</body>

</html>

