{# Expects "game" (dict), "ascview" (bool), "isClan" (bool) to be present in context #}
<tr class="{% if game.won %} won {% else %} lost {% endif %}">
  <td>
    {% if isClan %}
      {% include "plink.html" with name=game.playername %}
    {% else %}
      {{ game.playername }}
    {% endif %}
  </td>
  <td class="nowrap">
    {{ game.rrga }}
    {% comment %}
      post 2021 TODO (possibly): old scoreboard had something here for marking
      clan-unique ascensions (which no other clan had got yet) with "markuniq".
      currently this data is not computed on the backend.
    {% endcomment %}
  </td>
  <td class="num">{{ game.turns }}</td>
  <td class="num">
    {% if game.is_startscum %}
      {{ game.points }}
    {% else %}
      <a href="{{ game.dumplog }}">{{ game.points }}</a>
    {% endif %}
  </td>
  <td class="num nowrap">{{ game.wallclock }}</td>
  <td class="num nowrap">{{ game.endtime }}</td>
  {% if ascview %}
    <td class="num">{{ game.conducts|length }}</td>
    <td>
      {% for con in game.conducts %}
        {{ con }}
      {% endfor %}
    </td>
  {% else %}
    <td colspan=2>{{ game.death }}</td>
  {% endif %}
</tr>
