{# This is the header bar for the page, not the elements in <head>. #}
{% load static %}
<header>
  {% comment %}
  <div id="announcement-banner">
    <a href="https://hardfought.org/shop/" target="_blank">
      TNNT 2023 shirts are now available to order!  Click here.
    </a>
  </div>
  {% endcomment %}
  <div id="headerbar">
    <a id="titlelink" href="/"><h1>The November Nethack Tournament</h1></a>
  </div>
  <table id="navlogo">
      <tr>
          <td class="leftmenu"></td>
          <td id="logo" rowspan="3">
              <a href="/">
              <img src="{% static 'images/tnnt_square_logo.svg' %}" alt="An @ argent on a field azure, a wreath d'or encircling" width="100px" height="100px" />
              </a>
          </td>
          <td class="rightmenu"></td>
      </tr>
      <tr>
          <td class="leftmenu">
              <a href="/faq" class="menu {% if page == 'faq' %} menusel {% endif %}">FAQ</a>
              <a href="/players" class="menu {% if page == 'players' %} menusel {% endif %}">PLAYERS</a>
              <a href="/clans" class="menu {% if page == 'clans' %} menusel {% endif %}">CLANS</a>
              <a href="/leaderboards" class="menu {% if page == 'leaderboards' %} menusel {% endif %}">LEADERBOARDS</a>
          </td>
          <td class="rightmenu">
              <a href="/trophies" class="menu {% if page == 'trophies' %} menusel {% endif %}">TROPHIES</a>
              <a href="/stats" class="menu {% if page == 'stats' %} menusel {% endif %}">STATS</a>
              <a href="/archives" class="menu {% if page == 'archive' %} menusel {% endif %}">ARCHIVES</a>
              {% if user.is_authenticated %}
                <a href="/clanmgmt" class="menu {% if page == 'clanmgmt' %} menusel {% endif %}">MY CLAN</a>
                {% if is_admin %}
                  <a href="/admin-panel" class="menu admin-link {% if page == 'adminpanel' %} menusel {% endif %}">ADMIN</a>
                {% endif %}
              {% else %}
                <a href="/login" class="menu {% if page == 'login' %} menusel {% endif %}">LOGIN</a>
              {% endif %}
          </td>
      </tr>
      <tr id="lowerheader">
          <td></td>
          <td></td>
      </tr>
  </table>
</header>
