{% load static %}
<!doctype html>

<html>

<head>
  <title>TNNT - The November NetHack Tournament</title>
  {% include "headlinks.html" %}
  <script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
  <script src="{% static 'js/table-sort.js' %}"></script>
</head>

<body>

{% include "header.html" with page="index" %}

<div id="salespitch">
  {% if debug %}
  <p class="debug-warning">
    DEBUG MODE: Active
  </p>
  {% endif %}
  <h3> Do you love to play <a href="https://nethack.org" target="_blank">NetHack</a>? </h3>
  <h3> Want to show everyone your personal <a href="/players">prowess</a>?</h3>
  <h3>
    Join a <a href="/clans">clan</a> and team up to accomplish feats too hard
    for a single player?
  </h3>
  <h3>
    Or just mess around and see how many different ways you can
    <a href="/uniquedeaths">get yourself killed</a>?
  </h3>
  <h3>Then come join us in November for a month of NetHacking fun.</h3>
  <p id="countdown">
    <span class="initial">&nbsp;</span>
    <span class="before">The tournament starts in</span>
    <span class="during">The tournament ends in</span>
    <span class="over">The tournament is over; see you all next November</span>
    <span class="counter">
      <span id="counter"></span> on <span id="when"></span>!
    </span>
  </p>
</div>

<hr>

<div class="index-columns">
  <div class="index-column-left">
    <article>
      <h4> How to Play </h4>
      <p>
        TNNT is hosted by
        <a href="https://www.hardfought.org/nethack" target="_blank">hardfought.org</a>.
      </p>
      <p>
        Most people play TNNT with an
        <a href="https://en.wikipedia.org/wiki/SSH" target="_blank">SSH client</a>
        to connect to the game servers. Linux and Mac OS typically come with this
        installed; Windows users can use either a free client like
        <a href="https://putty.org" target="_blank">PuTTY</a> or Windows Subsystem
        for Linux. SSH to "nethack@hardfought.org" or pick an alternate server based
        on whatever's closest to where you are geographically:
        <ul>
          <li>hardfought.org: USA (East Coast)</li>
          <li>eu.hardfought.org: Europe (London)</li>
          <li>au.hardfought.org: Australia (Sydney)</li>
        </ul>
      </p>
      <p>
        If you'd like to play with the TNNT tileset, or you're at a location that
        blocks everything except web access, you can also play in a Web browser
        using the
        <a href="https://www.hardfought.org/nethack/hterm" target="_blank">hardfought web terminal</a>.
      </p>
      <p>
        If you do not already have an account on Hardfought, you need to register
        one first after connecting. Then, select the TNNT game option in the main
        menu after you've logged in. That's all there is to it!
      </p>
      <p>
        To create, join, or manage clans, go
        <a href="/clanmgmt">here</a>.
        Clan membership (creating and joining) will be frozen on November 10th at 00:00 UTC!
      </p>

      <h4> More Information </h4>
      <p>
        For more general information on NetHack, check out
        <a href="https://en.wikipedia.org/wiki/NetHack" target="_blank">Wikipedia</a>,
        the <a href="https://nethackwiki.com" target="_blank">NetHackWiki</a>,
        and <a href="https://thegreatestgameyouwilleverplay.com" target="_blank">The Greatest Game You Will Ever Play</a>.
      </p>
      <p>
        For more detailed information about the TNNT tournament, see the
        <a href="/faq">FAQ page</a>.
      </p>
      <p>
        TNNT chat discussion happens on the <a href="https://libera.chat" target="_blank">Libera.Chat</a>
        IRC server, on the #tnnt and #hardfought channels, or via the
        <a href="https://discord.com/invite/vg9WWf2" target="_blank">Roguelike Discord</a>
        on #nethack-tnnt (IRC to Discord bridge is active). All TNNT discussion is
        on-topic in these channels, and this is the best way to reach the admins if
        you have any issues.
        <a href="https://web.libera.chat/#tnnt" target="_blank">Click here to open IRC chat</a>, which
        will automatically direct you to the #tnnt channel.
      </p>
    </article>
  </div>

  <div class="index-column-right">
    <h4>Overall Statistics</h4>
    {% if numgames > 0 %}
      <table>
        <tbody>
          <tr>
            <td>Clans</td>
            <td class="num">{{ numclans }}</td>
          </tr>
          <tr>
            <td>Players</td>
            <td class="num">{{ numplayers }}</td>
          </tr>
          <tr>
            <td>Ascensions</td>
            <td class="num">{{ numascs }}</td>
          </tr>
          <tr>
            <td>Players who have ascended</td>
            <td class="num">{{ numascenders }}</td>
          </tr>
          <tr>
            <td>Total games</td>
            <td class="num">{{ numgames }}</td>
          </tr>
          <tr>
            <td>Scummed games</td>
            <td class="num">{{ numscums }}</td>
          </tr>
          <tr>
            <td>Post-Amulet splats</td>
            <td class="num">{{ numsplats }}</td>
          </tr>
          <tr>
            <td>Games that completed Mines + Soko</td>
            <td class="num">{{ numminessoko }}</td>
          </tr>
          <tr>
            <td>Total achievements earned by all players</td>
            <td class="num">{{ totachieve }}</td>
          </tr>
          <tr>
            <td>Total unique deaths</td>
            <td class="num">{{ totuniqdeaths }}</td>
          </tr>
          <tr>
            <td>Total donations</td>
            <td class="num">{{ totdonations }}</td>
          </tr>
          <tr>
            <td>Total in-game turns</td>
            <td class="num">{{ totturns }}</td>
          </tr>
          <tr>
            <td>Total real-life time spent playing TNNT</td>
            <td class="num">{{ tottime }}</td>
          </tr>
        </tbody>
      </table>
      <p class="stats-link">
        <a href="/ascensions">List of all ascensions</a>
      </p>
      <p class="stats-link">
        <a href="/allgames">List of all legitimate games</a>
      </p>
      <p class="stats-link">
        <a href="/uniquedeaths">Detailed breakdown of unique deaths</a>
      </p>
      <p class="stats-link">
        <a href="/scummedgames">Detailed breakdown of scummed games</a>
      </p>
    {% else %}
      <p>No games played yet</p>
    {% endif %}
  </div>
</div>

<h2>Last 10 Ascensions</h2>
{% if last10wins|length > 0 %}
  {% include "games_table.html" with games=last10wins ascview=True sortable=True %}
{% else %}
  <p>There are no ascensions yet</p>
{% endif %}

<h2>Last 10 Games</h2>
{% if last10games|length > 0 %}
  {% include "games_table.html" with games=last10games ascview=False sortable=True %}
{% else %}
  <p>No games have been played yet</p>
{% endif %}

</body>

</html>

