<!doctype html>
{% load static %}

<html>

<head>
  <title>TNNT :: Leaderboards</title>
  {% include "headlinks.html" %}
  <script type="text/javascript" src="{% static 'js/leaderboard-select.js' %}"></script>
  <noscript>
    {# If JS is unavailable, hide the leaderboard selector. #}
    <style> #leaderboard-select { display: none; } </style>
  </noscript>
</head>

<body>

{% include "header.html" with page='leaderboards' %}

<div id="leaderboard-select" class="row">
  <div id="prev-board" class="board-lr-move">&laquo;</div>
  <div id="leaderboard-combobox">
    <label for="boards-combobox">Select leaderboard: </label>
    <select name="boards" id="boards-combobox">
      {% for board in leaderboards %}
        <option value="{{ board.id }}">{{ board.title }}</option>
      {% endfor %}
    </select>
    {# <button id="player-clan-switch">Switch to Clans</button> #}
  </div>
  <div id="next-board" class="board-lr-move">&raquo;</div>
</div>
<hr>

{% for board in leaderboards %}
  <noscript>
    {% comment %}
      If there is no JS, the page will load with all leaderboards unhidden,
      which is what we want. But it will be hard to tell which is which, so
      stick in headers for each one. With JS available, the title is not needed
      because the leaderboard selector holds the title.
    {% endcomment %}
    <h2>{{ board.title }}</h2>
  </noscript>
  {% include "2boards.html" %}
{% endfor %}

</body>

</html>
