<!doctype html>

<html>

<head>
  <title>TNNT :: Players</title>
  {% include "headlinks.html" %}
  {% load static %}
  <script src="{% static 'js/table-sort.js' %}"></script>
</head>

<body>

{% include "header.html" with page='players' %}

<h2>All Players</h2>
<table class="sortable">
  <thead>
    <tr class="framed">
      <th></th>
      <th>Player</th>
      <th>Clan</th>
      <th>Wins</th>
      <th>Games</th>
      <th>Ratio</th>
      <th>Achievements</th>
      <th>Max Conducts</th>
      <th>Streak</th>
    </tr>
  </thead>
  <tbody>
    {% for plr in players %}
      <tr>
        <td class="num dim">{{ forloop.counter }}</td>
        <td {% if plr.wins > 0 %} class="won"{% endif %}>
          {% include "plink.html" with name=plr.name %}
        </td>
        <td>
          {% if plr.clan %}
            {% include "clink.html" with name=plr.clan.name %}
          {% endif %}
        </td>
        <td class="num">
          {% if plr.wins > 0 %}
            {{ plr.wins }}
          {% endif %}
        </td>
        <td class="num">{{ plr.total_games }}</td>
        <td class="num">
          {% if plr.wins > 0 and plr.total_games > 0 %}
            {{ plr.ratio }}
          {% endif %}
        </td>
        <td class="num">{{ plr.unique_achievements }}</td>
        <td class="num">
          {% if plr.wins > 0 %}
            {{ plr.max_conducts_asc.conducts.count }}
          {% endif %}
        </td>
        <td class="num">
          {% if plr.longest_streak > 1 %}
            {{ plr.longest_streak }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</body>

</html>
