{% load static %}
<!doctype html>

<html>

<head>
  <title>TNNT :: Statistics</title>
  {% include "headlinks.html" %}
</head>

<body>

{% include "header.html" with page="stats" %}

<h2>Overall Statistics</h2>
{% if numgames > 0 %}
  <table>
    <tbody>
      <tr>
        <td>Clans</td>
        <td>{{ numclans }}</td>
      </tr>
      <tr>
        <td>Players</td>
        <td>{{ numplayers }}</td>
      </tr>
      <tr>
        <td>Ascensions</td>
        <td>{{ numascs }}</td>
      </tr>
      <tr>
        <td>Players who have ascended</td>
        <td>{{ numascenders }}</td>
      </tr>
      <tr>
        <td>Total games</td>
        <td>{{ numgames }}</td>
      </tr>
      <tr>
        <td>Scummed games</td>
        <td>{{ numscums }}</td>
      </tr>
      <tr>
        <td>Post-Amulet splats</td>
        <td>{{ numsplats }}</td>
      </tr>
      <tr>
        <td>Games that completed Mines + Soko</td>
        <td>{{ numminessoko }}</td>
      </tr>
      <tr>
        <td>Total achievements earned by all players</td>
        <td>{{ totachieve }}</td>
      </tr>
      <tr>
        <td>Total unique deaths</td>
        <td>{{ totuniqdeaths }}</td>
      </tr>
      <tr>
        <td>Total donations</td>
        <td>{{ totdonations }}</td>
      </tr>
      <tr>
        <td>Total in-game turns</td>
        <td>{{ totturns }}</td>
      </tr>
      <tr>
        <td>Total real-life time spent playing TNNT</td>
        <td>{{ tottime }}</td>
      </tr>
      {# This list isn't comprehensive; feel free to add other interesting stats #}
    </tbody>
  </table>
{% else %}
  <p>No games played yet</p>
{% endif %}

<p>
  Click <a href="/achievements">here</a> for a detailed breakdown of achievements.
</p>
<p>
  Click <a href="/uniquedeaths">here</a> for a detailed breakdown of unique deaths.
</p>
<p>
  Click <a href="/ascensions">here</a> for a list of all ascensions.
</p>
<p>
  Click <a href="/allgames">here</a> for a list of all legitimate games.
</p>
<p>
  Click <a href="/scummedgames">here</a> for a detailed breakdown of scummed games.
</p>

</body>

</html>

