<!doctype html>

<html>

<head>
  <title>TNNT::Unique Deaths</title>
  {% include "headlinks.html" %}
  {% load static %}
  <script src="{% static 'js/table-sort.js' %}"></script>
</head>

<body>

{% include "header.html" %}

<h2>Unique Deaths ({{ deathlist|length }} total)</h2>
<table id="achievements-table" class="sortable default-sort-first">
  <thead>
    <tr class="framed">
      <th>death</th>
      <th>first obtained on</th>
      <th>by player</th>
      <th>players</th>
      <th>clans</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in deathlist %}
      <tr>
        <td>{{ entry.death }}</td>
        <td>{{ entry.time }}</td>
        <td>{{ entry.earliest_plr }}</td>
        <td>{{ entry.nplayers }}</td>
        <td>{{ entry.nclans }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

</body>

</html>
